<!DOCTYPE html> 
<html> 
	<head> 
	<title>OnCamp.us</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
	<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
	<link rel="stylesheet" href="/static/style.css" type="text/css" />
</head> 
<body> 
<div data-role="page" style="padding-bottom:100px">
	<div data-role="header">
		<h1>Oncamp.us</h1>
	</div>
	<div data-role="content" data-theme="b">	
		
		<h2>Parallel Computing</h2>
		<h5>Thursday 3:30PM in ECCR 225</h5>
		
		<p>
			<strong>Parallel Computing</strong> is lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad anmsx bs<a href="#">...</a>
		</p>
		
		<a href="/static/popups/rsvp-dialog.html" div data-role="button"
			data-transition="pop" data-rel="dialog" data-theme="b">Are you Attending?</a>
		<a href="/static/popups/share-dialog.html" div data-role="button"
			data-transition="pop" data-rel="dialog" data-theme="b">Share this Event!</a>
	</div>
	<div data-role="footer">
		<h4>&copy; 2010 OnCamp.us</h4>
	</div>
</div>
</body>
</html>