<!DOCTYPE html> 
<html> 
	<head> 
	<title>OnCamp.us</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
	<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
	<style type="text/css" media="screen">
		img {
			-webkit-border-radius:5px;
			border-radius:5px;
			margin:3px;
		}
	</style>
</head> 
<body> 

<div data-role="page">
	<div data-role="header" data-theme="a">
		<h1>OnCamp.us</h1>
	</div>
	<div data-role="content" data-theme="b">	
		<ul data-role="listview" data-inset="false" data-theme="d" data-dividertheme="b"> 
			<li data-role="list-divider">Events Happening Now</li> 
			<li>
				<img src="/static/eventlogo-thumb.jpg"/>
				<h3><a href="/event">Parallel Computing</a></h3>
				<p><strong>CS Colloquium:</strong> Lorem ipsum dolor sit amet,<p>
				<p>Now in ECCR 222</p>
			</li>
			<li>
				<img src="/static/eventlogo-thumb.jpg"/>
				<h3><a href="/event">[Event Title]</a></h3>
				<p><strong>[Event Description here]</strong> <p>
				<p>[data/time/location here]</p>
			</li> 
			<li data-role="list-divider">Your Friends Events</li>
			<li>
				<img src="/static/eventlogo-thumb.jpg"/>
				<h3><a href="/event">[Event Title]</a></h3>
				<p><strong>[Event Description here]</strong> <p>
				<p>[data/time/location here]</p>
			</li>
			<li>
				<img src="/static/eventlogo-thumb.jpg"/>
				<h3><a href="/event">[Event Title]</a></h3>
				<p><strong>[Event Description here]</strong> <p>
				<p>[data/time/location here]</p>
			</li>
			<li>
				<img src="/static/eventlogo-thumb.jpg"/>
				<h3><a href="/event">[Event Title]</a></h3>
				<p><strong>[Event Description here]</strong> <p>
				<p>[data/time/location here]</p>
			</li>
		</ul>
	</div>
	<div data-role="footer">
		<h4>&copy; 2010 OnCamp.us</h4>
	</div>
</div>
</body>
</html>